{% extends 'layoutCartContent.html' %}
{% block main %}
<h1>
  Welcome
</h1>
<h3>
  Please Explore and Build your own Battleship
</h3>
<h3>
  Each ship frame is customisable so you can design the perfect vessel for your starfaring needs.
</h3>
<h3>
  <ul>
    <li>First: Select a chassis from the Ship Chassis Page</li>
    <li>Second: Select an engine for that chassis</li>
    <li>Third: Select a system for that chassis</li>
    <li>Finally, select a weapon for your chassis</li>
  </ul>
</h3>
<h3>You can view your cart at anytime by selecting "Cart"</h3>
{% endblock %}
